## Equal Weights Strategy

In [17]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

## Load The Stock List

In [18]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [19]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)

    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker,
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })

    stocks_df = pd.DataFrame(stocks_data)

    return stocks_df



tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  19678961336320   1454.199951
1        TCS.NS  12952399773696   3579.899902
2   HDFCBANK.NS  14804361150464   1933.800049
3       INFY.NS   6684659417088   1613.000000
4  ICICIBANK.NS  10342897811456   1450.800049

In [20]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  19678961336320   1454.199951
1          TCS.NS  12952399773696   3579.899902
2     HDFCBANK.NS  14804361150464   1933.800049
3         INFY.NS   6684659417088   1613.000000
4    ICICIBANK.NS  10342897811456   1450.800049
5   HINDUNILVR.NS   5535285379072   2355.199951
6         SBIN.NS   7208861433856    807.750000
7   BAJFINANCE.NS   5704331558912   9188.500000
8   BHARTIARTL.NS  11191361470464   1867.199951
9          ITC.NS   5414225182720    432.649994
10   KOTAKBANK.NS   4188049506304   2106.399902
11    ADANIENT.NS   2908533555200   2520.000000
12          LT.NS   4976037855232   3618.199951
13     HCLTECH.NS   4594311626752   1696.000000
14  ASIANPAINT.NS   2235096367104   2329.899902
15    AXISBANK.NS   3746359934976   1209.099976
16   SUNPHARMA.NS   4175074164736   1740.099976
17       WIPRO.NS   2685569597440    256.570007
18  ULTRACEMCO.NS   3499309924352  11894.000000
19    HDFCLIFE.NS   1617363599360    751.200012
20        ONGC.NS   3115503321088    247.610001
21        NTPC.NS   3318713679872    341.950012
22   POWERGRID.NS   2787868409856    299.649994
23  TATAMOTORS.NS   2680390680576    728.099976
24  INDUSINDBK.NS    608051658752    780.500000
25  ADANIGREEN.NS   1547401166848    967.900024
26       TITAN.NS   3226005143552   3636.800049
27    DIVISLAB.NS   1649756995584   6214.500000
28       TECHM.NS   1442427961344   1629.099976
29      MARUTI.NS   4072147779584  12952.000000
30   COALINDIA.NS   2493748609024    404.649994
31        BPCL.NS   1375745212416    317.000000
32    JSWSTEEL.NS   2533950488576   1038.300049
33     DRREDDY.NS   1028605345792   1236.300049
34  BAJAJFINSV.NS   3256809947136   2041.900024
35  ADANIPORTS.NS   3037588881408   1406.199951
36       CIPLA.NS   1213725016064   1502.199951
37   BRITANNIA.NS   1316343644160   5465.000000
38     HAVELLS.NS    999280476160   1593.199951
39    SHREECEM.NS   1133376700416  31400.000000
40      GRASIM.NS   1916383920128   2824.800049
41   TATASTEEL.NS   1962437771264    157.350006
42  HEROMOTOCO.NS    865069170688   4325.000000
43         M&M.NS   3771713454080   3144.300049
44   EICHERMOT.NS   1498580385792   5466.000000
45         IOC.NS   2047573884928    145.000000
46     SBICARD.NS    867052027904    911.349976
47  PIDILITIND.NS   1582661369856   3111.500000
48       DMART.NS   2650760806400   4073.500000
49     HDFCAMC.NS   1005669384192   4702.399902

## Sort The Values

In [21]:
df = df.sort_values(by = "Market Cap", ascending = False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  19678961336320   1454.199951
2     HDFCBANK.NS  14804361150464   1933.800049
1          TCS.NS  12952399773696   3579.899902
8   BHARTIARTL.NS  11191361470464   1867.199951
4    ICICIBANK.NS  10342897811456   1450.800049
6         SBIN.NS   7208861433856    807.750000
3         INFY.NS   6684659417088   1613.000000
7   BAJFINANCE.NS   5704331558912   9188.500000
5   HINDUNILVR.NS   5535285379072   2355.199951
9          ITC.NS   5414225182720    432.649994
12          LT.NS   4976037855232   3618.199951
13     HCLTECH.NS   4594311626752   1696.000000
10   KOTAKBANK.NS   4188049506304   2106.399902
16   SUNPHARMA.NS   4175074164736   1740.099976
29      MARUTI.NS   4072147779584  12952.000000
43         M&M.NS   3771713454080   3144.300049
15    AXISBANK.NS   3746359934976   1209.099976
18  ULTRACEMCO.NS   3499309924352  11894.000000
21        NTPC.NS   3318713679872    341.950012
34  BAJAJFINSV.NS   3256809947136   2041.900024
26       TITAN.NS   3226005143552   3636.800049
20        ONGC.NS   3115503321088    247.610001
35  ADANIPORTS.NS   3037588881408   1406.199951
11    ADANIENT.NS   2908533555200   2520.000000
22   POWERGRID.NS   2787868409856    299.649994
17       WIPRO.NS   2685569597440    256.570007
23  TATAMOTORS.NS   2680390680576    728.099976
48       DMART.NS   2650760806400   4073.500000
32    JSWSTEEL.NS   2533950488576   1038.300049
30   COALINDIA.NS   2493748609024    404.649994
14  ASIANPAINT.NS   2235096367104   2329.899902
45         IOC.NS   2047573884928    145.000000
41   TATASTEEL.NS   1962437771264    157.350006
40      GRASIM.NS   1916383920128   2824.800049
27    DIVISLAB.NS   1649756995584   6214.500000
19    HDFCLIFE.NS   1617363599360    751.200012
47  PIDILITIND.NS   1582661369856   3111.500000
25  ADANIGREEN.NS   1547401166848    967.900024
44   EICHERMOT.NS   1498580385792   5466.000000
28       TECHM.NS   1442427961344   1629.099976
31        BPCL.NS   1375745212416    317.000000
37   BRITANNIA.NS   1316343644160   5465.000000
36       CIPLA.NS   1213725016064   1502.199951
39    SHREECEM.NS   1133376700416  31400.000000
33     DRREDDY.NS   1028605345792   1236.300049
49     HDFCAMC.NS   1005669384192   4702.399902
38     HAVELLS.NS    999280476160   1593.199951
46     SBICARD.NS    867052027904    911.349976
42  HEROMOTOCO.NS    865069170688   4325.000000
24  INDUSINDBK.NS    608051658752    780.500000

## Taking Top 10 Stocks as per the market cap

In [22]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  19678961336320   1454.199951
1    HDFCBANK.NS  14804361150464   1933.800049
2         TCS.NS  12952399773696   3579.899902
3  BHARTIARTL.NS  11191361470464   1867.199951
4   ICICIBANK.NS  10342897811456   1450.800049
5        SBIN.NS   7208861433856    807.750000
6        INFY.NS   6684659417088   1613.000000
7  BAJFINANCE.NS   5704331558912   9188.500000
8  HINDUNILVR.NS   5535285379072   2355.199951
9         ITC.NS   5414225182720    432.649994

In [30]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size =  portfolio_size / len(df.index)
position_size

1000.0

In [32]:
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

df

C:\Users\Ekant Kumar Sahu\AppData\Local\Temp\ipykernel_1564\2114546681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  19678961336320   1454.199951                        0
1    HDFCBANK.NS  14804361150464   1933.800049                        0
2         TCS.NS  12952399773696   3579.899902                        0
3  BHARTIARTL.NS  11191361470464   1867.199951                        0
4   ICICIBANK.NS  10342897811456   1450.800049                        0
5        SBIN.NS   7208861433856    807.750000                        1
6        INFY.NS   6684659417088   1613.000000                        0
7  BAJFINANCE.NS   5704331558912   9188.500000                        0
8  HINDUNILVR.NS   5535285379072   2355.199951                        0
9         ITC.NS   5414225182720    432.649994                        2